/*font-family: 'DM Sans', sans-serif;
font-family: 'Century Gothic', sans-serif;
color: #8e0505
color: #FFd966
*/

/******navbar******/
.navbar {
  background-color: #FFd966;
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
}

.navbar-nav {
  width: 50vw
}


.icon-contact-nav {
  width: 20vw;
}

nav a, footer a {
  color: #8e0505 !important;
}

/*****general*******/

.btn {
  background-color: #8e0505;
  color: #ffffff;
  font-size: 2em;
  border-radius: 15px;
}

/*
.title-img-page {
  font-family: 'DM Sans', sans-serif;
  font-size: 40px;
  color: #ffffff;
}

.text-img-tête {
  position: absolute;
  top: 50%;

}

*/
p {
  font-family: 'DM Sans', sans-serif;
  font-size: 2em;
  color: #8e0505;
}

h1 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 5em;
  font-weight: bolder;
  margin-bottom: 3%;
  color: #ffffff;
}

h2 {
  font-family: 'Century Gothic', sans-serif;
  font-size: 40px;
  color: #8e0505;
}

h3 {
  font-size: 35px;
  color: #8e0505;
}

.background-jaune {
  background-color: #FFd966;

}


/**************carrousel***************/

.text-carrousel {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 1;
}

#buttons-carrousel {
  margin-left: 6em;
}



/***********qui sommes nous *******/

#img-qui-sommes-nous {
  width: 53vw;
}

/************** nos produits ***************/
.produit-stock {
  background-color: #FFd966;
}

.card {
  width: 25em;
}


/*************** produit*************/
#header-produit {
  background-image: url(./photos/img-tete-produit.png);
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.text-sur-img-header {
  height: 60vh;
}

.icon-sur-img-header a {
  color: #ffffff;
  text-decoration: none;
}

.text-sur-img-header p {
  color: #ffffff;
  font-size: 2.5em;
}



/*************** contact*************/
#header-produit {
  background-image: url(./photos/contact.jpg);
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.text-sur-img-header {
  height: 60vh;
}

.icon-sur-img-header a {
  color: #ffffff;
  text-decoration: none;
}

.text-sur-img-header p {
  color: #ffffff;
  font-size: 2.5em;
}

.col-form-label {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5em;
}

#floatingTextarea {
  height: 12vw;

}



/*************** concept*************/
#header-concept {
  background-image: url(./photos/concept.png);
  background-position: center;
  background-size: cover;
  height: 75vh;
}

.img-eco-concues {
  width: 23vw;
}

.p-eco-concues {
  text-align: justify;
  width: 80vw;
}

.img-king {
  width: 25vw;
}

.p-mr-king {
  width: 50vw;
  text-align: justify;
}

.text-header-concept p {
  color: #ffffff;
}

.text-header-concept {
  position: absolute;
  top: 45%;
}

.icon-tête-concept a {
  text-decoration: none;
  color: #ffffff;
  margin-top: 40%;
}


/****************footer***********/

footer h5 {
  color: #8e0505;
  text-align: center;
}

footer {
  background-color: #FFd966;
}

.icon-contact-footer {
  color: #8e0505;
}


/****************media queries***********/


@media screen and (max-width: 1650px) {

  h1 {
    font-size: 3.5em;
  }

  .text-carrousel {
    top: 35vw;
  }

  .text-sur-img-header p {
    font-size: 2em;
  }

}

/* iframe tailles téléphone et tablette */

@media screen and (max-width: 991px) {
  #map {
    height: 35vw;
    width: 70vw;
  }
}

/* iframe grandes tailles */

@media screen and (min-width: 992px) {
  #map {
    height: 35vw;
    width: 35vw;
  }
}

@media screen and (max-width: 1024px) {
  .text-carrousel {
    top: 40vw;
  }

  .text-carrousel h1 {
    font-size: 3em;
  }

  .text-carrousel p {
    font-size: 2em;
  }

  #coordonée p {
    font-size: 1em;
  }

  #coordonée h2 {
    font-size: 1.5em;
  }

  .l-crochet {
    width: 40vw;
  }

  .img-eco-concues {
    width: 55vw;
  }

  .img-king {
    width: 70vw;
  }

  .p-mr-king {
    width: 70vw;
  }
}

@media screen and (max-width: 767px) {

  .l-crochet {
    width: 80vw;
  }

  h1 {
    font-size: 2.5em;
  }

  .text-sur-img-header p {
    font-size: 1.5em;
  }

  #floatingTextarea {
    height: 60vW;
  }

  #coordonée p {
    font-size: 1em;
  }

  #coordonée h2 {
    font-size: 1.5em;
  }

  .text-carrousel {
    margin-top: 8em;
    margin-left: 0;
    margin-right: 5vw;
  }

  .text-carrousel h1 {
    font-size: 1.5em;
  }

  .text-carrousel p {
    font-size: 0.9em;
  }

  .text-carrousel button {
    font-size: 0.5em;
  }

  #buttons-carrousel {
    margin-left: 0;
  }

  .img-eco-concues {
    width: 60vw;
  }


}